name: Generate Java Code from plugin-pb
on:
  schedule:
    - cron: "0 8 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  regen:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "18"
          cache: "gradle"
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@261794afacfbe7a93883fe9e989f80e083e3547f
      - name: Generate code
        run: |
          make clone-proto
          make gen-proto
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          # required so the PR triggers workflow runs
          token: ${{ secrets.GH_CQ_BOT }}
          branch: fix/gen_proto
          base: main
          title: "fix: Generate Java Code from `plugin-pb`"
          commit-message: "fix: Generate Java Code from `plugin-pb`"
          body: This PR was created by a scheduled workflow to regenerate the Java code from `plugin-pb`.
          author: cq-bot <cq-bot@users.noreply.github.com>
          labels: automerge
